.container{
  display: flex;
  flex-direction: column;
  align-items:;
  border: 3px solid black;
  box-sizing: border-box;
  width: ;
  padding: 10px;
  margin: auto;
}
.avatar{
  display: flex;
  flex-direction:column;
  align-items: ;
  border: 1px solid black;
  width: 60px;
  height: 60px;
  border-radius: 100px;
}
.sender {
  display: flex;
  flex-direction:;
  align-items: ;
  border: 1px solid black;
}
.header {
  border: 3px solid black;
  width: ;

}
