.container{
  display: flex;
  flex-flow: column;
  justify-content: ;
  border: 3px solid black;
  box-sizing: border-box;
  width: ;
  padding: 10px;
  margin: auto;
}
.avatar{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid green;
  width: 60px;
  height: 60px;
  border-radius: 100px;
}
.name {
  border: 1px solid blue;
}
.text {
  border: 1px solid black;
  margin:;
}
.header {
  border: 3px solid black;
  width: ;

}
.time {
  border: 1px solid red;
}
.message {
  border: 1px solid yellow;
}
