<section class="page-title-section">
    <div class="page-title">Portfolio of {{products.length}}</div>
</section>

<section class="info-and-filters-section">
    <div class="about-us">
        <div class="first-line">We create quality designs</div>
        <div class="second-line">We specialize in Web Design / Devevelopment and Graphic Design</div>
    </div>
    <div class="filters">
        <div class="filter-item active">All</div>
        <div class="filter-item">Website</div>
        <div class="filter-item">Logo</div>
        <div class="filter-item">UIkit</div>
        <div class="filter-item">Photo</div>
        <div class="filter-item">App Design</div>
    </div>
</section>

<section class="product-gallery">
    <div id="product-gallery-container" class="product-gallery-container"></div>
    <div class="show-more-button"><i class="fa fa-plus-circle" aria-hidden="true"></i></div>
</section>