<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="logo">
        <a class="navbar-brand" href="#"><img></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links" aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbar-links">
        <div class="navbar-nav">
            <span class="nav-item nav-link navbar-link" (click)="homeClick()" >Home <span class="sr-only">(current)</span></span>
            <span class="nav-item nav-link navbar-link active" (click)="portfolioClick()">Portfolio</span>
            <span class="nav-item nav-link navbar-link">Blog</span>
            <span class="nav-item nav-link navbar-link">About us</span>
            <span class="nav-item nav-link navbar-link">Contact</span>
        </div>
    </div>
</nav>