.wrapper {
  width: 800px;
  margin: 10px auto;
  height: 600px;
}

.header {
  background-color: #FC9D9A;
  height: 70px;
  width: 100%;
  border: 2px solid black;
  box-sizing: border-box;
  border-bottom: 0px;
  position: relative;
}

.close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
}

.container {
  max-height: 500px;
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
  border: 2px solid black;
  box-sizing: border-box;
  background: grey;
  margin: 0 auto;
}

.message {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
}

.avatar {
  background: #ca5757;
  padding: 10px;
  display: flex;
  flex: 0 0 150px;
  flex-direction: row;
  align-items: center;
}

.body {
  padding: 10px;
  border-left: 2px solid black;
}

.foto {
  box-shadow: 0 0 0 2px black;
  margin: 15px;
  width: 60px;
  height: 60px;
  border-radius: 100px;
}

.text > p {
  margin: 0px;
}

.text {
  font-style: italic;
  padding: 10px;
  background-color: silver;
}

.header p, .header h1 {
  margin: 0;
  padding-left:  5px;
  font-style: oblique;
}
