body {
  margin: 0px;
}

.header {
  width: 1300px;
  height: 514px;
}

.main-logo {
  width: 1300px;
  height: 514px;
  border-bottom: 10px solid #a292b3;
}

.minto {
  width: 1300px;
  position: absolute;
  opacity: 0.4;
  top: 4px;
}

.main-container {
  max-width: 1300px;
  min-width: 550px;
  margin: 9px auto;
}

.navbar {
  max-width: calc(1300px - 100px);
  min-height: 110px;
  padding: 0 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  .navbar-collapse {
    justify-content: flex-start;
  }

  .navbar-nav {
    align-items: flex-start;
  }

  .navbar-link {
    font-size: 20px;
    position: absolute;
    top: 2px;
    margin-left: 40px;
    padding: 0 20px;
  }
}
