body {
  margin: 0px;
}

.header {
  width: 1300px;
  height: 514px;
}

.main-logo {
  width: 1300px;
  margin-left: auto;
  left: 50%;
  border-bottom: 10px solid #a292b3;
}

.minto {
  width: 1300px;
  position: absolute;
  margin-left: -650px;
  left: 50%;
  opacity: 0.4;
  top: 4px;
}

.logo {
  position: relative;
  left: 5%;
}

.main-container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  max-width: 1300px;
  padding: 0 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 1;

  .navbar-collapse {
    justify-content: flex-end;
    padding: 0 42px;
    background-color: white;
  }

  .navbar-nav {
    align-items: flex-end;
    margin-top: 30px;
    background-color: white;
  }

  .navbar-link {
    font-size: 20px;
    position: relative; 
    top: 2px;
    margin-left: 81px;
    padding: 4 20px;
    line-height: 40px;
  }

  .navbar-toggler {
    margin: 0px;
    margin-top: 36px;

  }

  .logo {
    width: 209px;
    height: 76px;
    position: absolute;
    left: 140px;
    top: 19px;
    line-height: 40px;
    font-size: 22px;
    
  }
}
